.page_content {
    margin: 20px;
    margin-top: 75px;
}

.card-container {
    alignment: center;
    width: 40%;
    margin: auto;

}

.card {
    border-radius: 10px;
    border: 2px solid lightgrey;
    padding: 10px;
}

.card ul li {
    text-align: center;
}

.card ul li a {
    alignment: center;
}

.commands-list {
    display: table;
    margin: 0 auto;
}

.panel-footer {
    margin-top: 20px;
}

.bot-settings p {
    font-weight: bold;
}

.bot-settings a {
    margin-right: 20px;
    margin-left: 20px;
}

body {
    background: #DFE2DB;
}
