.page_content {
    margin: 20px;
    margin-top: 100px;
}

.commands-list {
    display: table;
    margin: 0 auto;
}

.panel-footer {
    margin-top: 20px;
}

#id_moderators {
    width: 300px;
}

.bot-settings {
    margin: 50px;
}

.bot-settings p {
    font-weight: bold;
}

.bot-settings a {
    margin-right: 20px;
    margin-left: 20px;
}

body {
    background: white url("images/background.png");
}
