{% extends 'botapp/base.html' %}
{% block body %}
    {% if error_message %}
        <p align="center"><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if workspaces %}
        <div align="center">
            <h3>Мои команды:</h3>
            <ul class="commands-list">
                {% for  workspace in workspaces %}
                    <li><a href="{% url 'workspace_detail'  workspace.id %}">{{ workspace.team_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer" align="center">
            Нажмите <a
                href="https://slack.com/oauth/authorize?client_id=279452991798.278091243440&scope=bot,channels:history,commands">
            сюда</a> чтобы добавить бота в ещё 1 команду.
        </div>
    {% else %}
        <div class="empty-workspace" align="center">
            <p>Похоже, вы ещё не авторизировали приложения ни в одной команаде</p>
            <a href="https://slack.com/oauth/authorize?client_id=279452991798.278091243440&scope=bot,channels:history,commands">
                Нажмите здесь</a> чтобы добавить команду.
        </div>
    {% endif %}
{% endblock %}