{% extends 'botapp/base.html' %}
{% block body %}
    {% if error_message %}
        <p align="center"><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if workspaces %}
        <div align="center">
            <h3>Модерирумые сообщества:</h3>
            <div class="card-container">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for  workspace in workspaces %}
                            <li class="list-group-item" style="text-align: center">
                                <a href="{% url 'workspace_detail'  workspace.id %}">
                                    {{ workspace.team_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="empty-workspace" align="center">
            <p>Похоже, что вы не являетесь модератором ни одного сообщества</p>
        </div>
    {% endif %}
{% endblock %}