{% extends 'botapp/base.html' %}
{% block body %}
    {% if error_message %}
        <p align="center"><strong>{{ error_message }}</strong></p>
    {% endif %}
    <h2 align="center">Вы зашли как: <strong>{{ user }}</strong></h2>
    {% if workspaces %}
        <div class="card-container">
            <h3 align="center" style="margin-top: 30px">Ваши каналы:</h3>

            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for  workspace in workspaces %}
                        <li class="list-group-item" style="text-align: center">
                            <a href="{% url 'workspace_detail'  workspace.id %}">
                                {{ workspace.team_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel-footer" align="center">
            <a href="https://slack.com/oauth/authorize?client_id=279452991798.278091243440&scope=bot,channels:history,commands"
               class="btn btn-success" role="button">Добавить бота</a>
        </div>
    {% else %}
        <div class="empty-workspace" align="center">
            <p>Похоже, вы ещё не авторизировали приложения ни в одном канале</p>
             <a href="https://slack.com/oauth/authorize?client_id=279452991798.278091243440&scope=bot,channels:history,commands"
               class="btn btn-success" role="button">Добавить бота</a>
        </div>
    {% endif %}
{% endblock %}